<mat-card>
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					  <a class="navbar-brand" routerLink="/home"><strong>Tienda de Producto</strong></a>
					  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					    <span class="navbar-toggler-icon"></span>
					  </button>
					  <div class="collapse navbar-collapse" id="navbarNav">
					    <ul class="navbar-nav">
					      <li class="nav-item" *ngFor="let item of categories">
					        <a class="nav-link" href="#" routerLink="/category/{{item.categori_id}}">{{item.name}}<span class="sr-only">(current)</span></a>
					      </li>
					    </ul>
					  </div>
					</nav>
			</div>
			
			<span class="navbar-text m-auto">
			     <div class="col-md-3 text-right">
					<a href="#" routerLink="/car-detail">
						<mat-icon [matBadge]="carService?.products?.length" matBadgeColor="warn">shopping_cart</mat-icon>
					</a>
				</div>
    		</span>			
		</div>
	</div>
</mat-card>